## Table of Content

<div style="margin-top: 20px">

1. [Import Libraries](#import)
2. [Scatter Plot](#scatter)
3. [Line Chart](#line)
4. [Bar Chart](#bar)
5. [Histogram](#histogram)
6. [Bubble Plot](#bubble)
7. [Pie Chart](#pie)
8. [Sunburst plot](#sunburst)

</div>

## Import Libraries <a id="import"></a>

In [1]:
import plotly.io as pio
pio.renderers.default = 'iframe'

In [2]:
import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go

import warnings
warnings.filterwarnings('ignore')

## Scatter Plot <a id="scatter"></a>

In [3]:
age = np.random.randint(25, 55, 60)
sal = np.random.randint(300000, 700000, 3000000)

In [4]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=age, 
                         y=sal, 
                         mode='markers', 
                         marker=dict(color='maroon')))
fig.show()

In [5]:
fig.update_layout(title = "Economic Survey", xaxis_title = "Age", yaxis_title = "Income")

## Line Chart <a id="line"></a>

In [6]:
##Example 2: Let us illustrate the sales of bicycles from Jan to August last year using a line chart
# Define an array containing numberofbicyclessold  
numberofbicyclessold_array=[50,100,40,150,160,70,60,45]
# Define an array containing months
months_array=["Jan","Feb","Mar","April","May","June","July","August"]

In [7]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=months_array, 
                         y = numberofbicyclessold_array, 
                         mode='lines', 
                         marker=dict(color='green')))

fig.update_layout(title = 'Bicycle Sales', 
                  xaxis_title="Month", 
                  yaxis_title="No. of Bicycles Sold")

## Bar Chart <a id="bar"></a>

In [8]:
# Define an array containing scores of students 
score=[80,90,56,88,95]
# Define an array containing Grade names  
grade=['Grade 6','Grade 7','Grade 8','Grade 9','Grade 10']

In [9]:
fig = px.bar(x = grade,
             y = score,
             title="Pass Percentage")

fig.show()

## Histogram <a id="histogram"></a>

In [10]:
x = np.random.normal(0,1,10000)

In [11]:
fig = px.histogram(x = x, title="Normal Distribution")
fig.show()

## Bubble Plot <a id="bubble"></a>

In [12]:
crime_details = {
    'City' : ['Chicago', 'Chicago', 'Austin', 'Austin','Seattle','Seattle'],
    'Numberofcrimes' : [1000, 1200, 400, 700,350,1500],
    'Year' : ['2007', '2008', '2007', '2008','2007','2008'],
}
  
# create a Dataframe object with the dictionary
df = pd.DataFrame(crime_details)
  
df

      City  Numberofcrimes  Year
0  Chicago            1000  2007
1  Chicago            1200  2008
2   Austin             400  2007
3   Austin             700  2008
4  Seattle             350  2007
5  Seattle            1500  2008

In [13]:
df = df.groupby("City")['Numberofcrimes'].sum().reset_index()

In [14]:
fig = px.scatter(df, 
                 x = 'City',
                 y = 'Numberofcrimes',
                 size = 'Numberofcrimes',
                 size_max = 80,
                 hover_name = "City",
                 title = "Crime Statistics"
                 )

fig.show()

## Pie Chart <a id="pie"></a>

In [15]:
exp_percent= [20, 50, 10,8,12]
house_holdcategories = ['Grocery', 'Rent', 'School Fees','Transport','Savings']

In [16]:
fig = px.pie(values = exp_percent,
             names = house_holdcategories,
             title = "Household Expenditure")

fig.show()

## Sunburst Plot <a id="sunburst"></a>

In [17]:
data = dict(
    character = ["Eve", "Cain", "Seth", "Enos", "Noam", "Abel", "Awan", "Enoch", "Azura"],
    parent = ["", "Eve", "Eve", "Seth", "Seth", "Eve", "Eve", "Awan", "Eve"],
    value = [10, 14, 12, 10, 2, 6, 6, 4, 4]
)

fig = px.sunburst(
    data,
    names = 'character',
    parents = 'parent',
    values = 'value',
    title = 'Family Chart'
)

fig.show()

## Thankyou :)